* {
    overflow: hidden;
    box-sizing: border-box;
  }

/* RESET BOOTSTRAP */
.container {
  --bs-gutter-x: 0;
}

  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    display: flex;
  }
  
  h2 {
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
    width: 50%;
    top: 1em;
  }
  h2 em {
    font-weight: bold;
  }
  
  .container {
    flex-basis: 50%;
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid rgb(156, 0, 0);
  }
  
  /* EVENTOS */
  
  #eventos {
    background-color: rgb(142, 255, 210);
    padding: 2em;
  }
  
  #evento1{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  #evento2{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  #evento3{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  #evento4{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  #evento5{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  #evento6{
    background-color: rgb(62, 53, 247);
    margin: 1em;
  }
  
  /* SHOP */
  
  #shop {
    background-color: rgb(237, 255, 97);
    padding: 2em;
  }
  
  #shop1{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #shop2{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #shop3{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #shop4{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #shop5{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #shop6{
    background-color: rgb(247, 53, 202);
    margin: 1em;
  }
  
  #medio {
    display: flex;
  }
  
  #lomo {
    position: sticky;
    top: 0;
  }


#izquierda {
    width: 100%;
    height: 100%;
    padding: 0%;
}

#derecha {
    width: 100%;
    height: 100%;
}

